- name: Configure Web Server
  hosts: web
  become: yes
 
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
 
    - name: Install Nginx
      apt:
        name: nginx
        state: present
 
    - name: Start & enable Nginx
      service:
        name: nginx
        state: started
        enabled: yes
